<li><h4 id="<%= dom_id(object) %>"><%= object.name %></h4>
  
  <% if object.is_a?(Documentation::Method) %>
    <pre class="syntax"><code class="ebnf"><%= object.ebnf_expressions %></code></pre>
  <% end %>
  
	<%= htmlize(object.description) %>
</li>